@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

body{
    overflow-x: hidden;
}

.loading-wheel{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 6px solid #047857;
    border-color: transparent transparent #047857 #047857;
    animation: spin linear 1.2s infinite;
}
